.navbar-default{
  background-color: silver;
  margin: 0px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Arial', serif;
  color: navy;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .8;
}

.row {
  margin-bottom: 15px;
}
.row > div {
  border: 2px solid red;
  background-color: lightgray;
}
